
<h1>Welcome {{user.first_name}} {{user.last_name}}!!!</h1>

<button id="logoutBtn" type="button">Log out</button>

<script src="js/welcome.js"></script>
<link rel="stylesheet" type="text/css" href="css/welcome.css">
